<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Ceregement</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
<h1>Ceregement</h1>
<form method="post" action="#">
    <input type="text" id="test">
    <input type="submit" onclick="return testCheck()" value="送信">
    <p id="validate_msg" style="color: red;"></p>
</form>
<script>
    function testCheck() {
        var test = document.getElementById("test").value;
        if (test.length < 6) {
            var validate = "6文字以上入力してください。";
            document.getElementById("validate_msg").innerHTML = validate;
            return false;
        }
    }
    function LoginCheck() {
        var mailAddress = document.getElementById("MailAddress").value;

        if (mailAddress.length > 200) {
            var err_msg = "200文字以下で入力してください";
            document.getElementById("err_msg").innerHTML = err_msg;
            return false;
        }
    }
</script>
<form method="post" action="#">
    <p>ID(メールアドレス)　<input type="text" id="MailAddress" maxlength="200"></p>
    <input type="submit" onclick="return LoginCheck()" >
</form>

<p>パスワード　<input type="text" name="password" maxlength="16" minlength="8"></p>
<form name="login_form">
    <div class="login_form_top">
        <h1>ログイン画面</h1>
    </div>
</form>
</body>
</html>